@import "variables"; //пишем переменные
@import "reset"; //сборс стилей
@import "fonts"; //подключаем шрифты (локально)

//подключаем БЭМ блоки
@import "blocks/banner";
@import "blocks/header";
@import "blocks/hello-page";
@import "blocks/use_section";
@import "blocks/app-download_section";

@import "blocks/footer";

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.container {
  padding: 0 165px;
  width: 100%;
}

.bg_gray {
  background-color: $gray;
}

.bg_pink {
  background-color: $pink;
}

.content {
  flex: 1 0 445px;
  max-width: 445px;
  margin-right: 20px;

  &__title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
  }

  &__description {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }

  &__link {
    display: inline-block;
    margin-bottom: 30px;
    color: $pink;

    &:visited {
      color: $pink;
    }
  }

  &__icon {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    fill: $light;
  }
}

.image {
  flex: 0 0 445px;
  max-width: 445px;
  height: 311px;

  & * {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
}

// MEDIA QUERIES
@media only screen and (max-width: 1240px) {
  .content {
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 486px) {
  .content {
    flex-shrink: 1;
  }
  .image {
    flex-shrink: 1;
    height: 200px;
  }
}
