@import 'variables'; //пишем переменные
@import 'reset'; //сборс стилей
@import 'fonts'; //подключаем шрифты (локально)

//подключаем БЭМ блоки
@import 'blocks/banner';
@import 'blocks/header';
@import 'blocks/footer';


.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.container {
  padding: 0 165px;
  width: 100%;
}