//colors
$pink: #ED4C5C;
$dark: #000000;
$light: #FFFFFF;
$form: #13274380;
$num: #10101014;
$gradient: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);

//fonts
$basic-family: 'Lato', 'Arial', 'Helvetica', sans-serif;

// flex mixin
@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}