.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 115px 0;

  &__content {
    flex: 1 1 40%;
    max-width: 445px;
    margin: 0 15px 55px;
  }

  &__title {
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
  }

  &__form {
    flex: 0 0 60%;
    max-width: 540px;
    margin: 0 15px;
  }
}
.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__name {
    flex: 0 0 50%;
    max-width: 255px;
  }

  &__number {
    flex: 0 0 100%;
  }

  &__question {
    flex: 0 0 100%;
  }

  &__submit {
    height: 50px;
    input {
      padding: 15px 35px;
      background-color: $pink;
      color: $light;
      border: none;
    }
  }
}

// MEDIA QUERIES
@media only screen and (max-width: 1330px) {
  .contact {
    justify-content: center;

    &__content {
      flex-basis: 100%;
      max-width: 535px;
    }

    &__form {
      flex-basis: 100%;
    }
  }
}

@media only screen and (max-width: 658px) {
  .form {
    &__name {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 414px) {
  .contact {
    padding: 50px 0;

    &__content {
      margin-bottom: 30px;
    }
    &__title {
      margin-bottom: 20px;
    }
  }
}
