@media only screen and (max-width: 487px) {
  .sub-menu {
    display: none;
  }
  .footer-menu__item {
    position: relative;
    margin: 15px;
    flex-basis: 100%;

    &::before {
      content: "";
      position: absolute;
      right: 8px;
      top: 8px;
      width: 0;
      height: 0;
      border-top: 6px solid $dark;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }

    &.open > .sub-menu {
      display: block;
    }

    &.open::before {
      transform: rotate(180deg);
    }
  }

  .mouse {
    .footer-menu__item {
      &:hover > .sub-menu {
        display: block;
      }
    }
  }

  .copyright {
    margin: 30px 15px 0;
  }
}
