.footer {
  padding: 60px 0;
  &__menu {
  }
}
.footer-menu {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -20px;
  }

  &__item {
    flex: 0 1 25%;
    padding: 0 20px;
    margin: 30px auto;
    min-width: 214px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
}
.sub-menu {
  margin-top: 30px;

  &__item {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    text-transform: capitalize;

    a {
      color: $dark;
    }
  }

  &__icon {
    width: 14px;
    height: 14px;
    margin: 20px 12px 0 0;
    transition: 00.4s;

    &:hover,
    &:focus {
      fill: $pink;
    }
  }

  &__img {
    width: 216px;
    height: auto;
  }
}

.copyright {
  margin: 60px 0 20px 0;
  font-size: 12px;
  line-height: 14px;
}
